@import "tailwindcss";

@theme {
    --color-background: #14141f;
    --color-foreground: #cecece;
    --color-primary: #4c5a7d;
    --color-primary-fade: #bac3d5;
    --color-ash: #606060;
    --color-bg: #f2f2f2;
    --breakpoint-xs: 480px;
}
