@import "tailwindcss";

@theme {
    --color-background: #14141f;
    --color-foreground: #cecece;
    --color-primary: #4c5a7d;
    --color-primary-fade: #bac3d5;
    --color-ash: #606060;
    --color-bg: #f2f2f2;
    --breakpoint-xs: 480px;

    /* indigator colours */
    --color-gray: #9e9e9e;
    --color-info: #2196f3;
    --color-danger: #ff4d4d;
    --color-success: #4caf50;
    --color-warning: #ff9800;

    --animate-spin-reverse: spin-reverse 1s linear infinite;

    @keyframes spin-reverse {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(-360deg);
        }
    }
}

/* @layer utilities {
    @supports (transition-behavior: smooth) {
        .transition-\[height\] {
            transition-behavior: smooth;
        }
    }
} */

html,
.scrollbar-none {
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;

    /* Hide scrollbar for IE/Edge */
    -ms-overflow-style: none;

    /* Ensure content remains scrollable */
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}