input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0 1000px rgba(34, 211, 238, 0.1) inset !important;
    transition: background-color 9999s ease-in-out 0s !important;
    caret-color: #67e8f9 !important;
}