.swiper-pagination-bullet {
    background-color: white;
    border: 2px solid var(--color-primary);
    background-color: #d8d8d8;
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-primary);
    width: 48px;
    border-radius: 10px;
}

.swiper-slide-active {
    & > div > div:first-child {
        background-color: var(--color-primary);
        color: white;

        button {
            color: white;
        }
    }

    div {
        border-color: rgb(211, 211, 211);
    }
}